<!-- Bootstrap core CSS -->


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
.container1{

    background-image: url("../assets/Images/Avangers.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:cover;
  height: fit-content;
    width: max-content;
    color:azure;
}
.container{
    display: inline;
    
    
}
  
</style>
<main>

    <section class="container1">
      <div class="row py-lg-5">
        <div class="col-lg-9 col-md-9 mx-auto">
          <h1 class="fw-light">Featured</h1>
          <p >r magna enim, molestie vel congue et, porttitor sit amet velit. Cras at
            velit mollis, porttitor ligula vehicula, tincidunt arcu. Sed in nibh a mi tincidunt posuere.
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nu.</p>
          <p>
            <a routerLink="/movies" class="btn btn-secondary my-2">Movies Collection</a> 
            <a routerLink="/actors" class="btn btn-primary my-2">Actors Collection</a>
            
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
        <h1>WatchList</h1>
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img width="100%" height="20%" src="../assets/Images/dr strange.jpg">  
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img width="100%" height="20%" src="../assets/Images/cp.jpg">  
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
          
         
          <div class="col">
            <div class="card shadow-sm">
                <img width="100%" height="20%" src="../assets/Images/h.jpg">  
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
       
  
          <div class="col">
            <div class="card shadow-sm">
                <img width="100%" height="20%" src="../assets/Images/in.jpg">  
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img width="100%" height="20%" src="../assets/Images/tenet.jpg">
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img width="100%" height="20%" src="../assets/Images/d.jpg">  
              <div class="card-body">
                <p class="card-text">Nullam volutpat sed eros in luctus. Integer sagittis, libero blandit imperdiet vestibulum, quam nisi mollis libero, et lobortis orci dui pellentesque libero. Aliquam et fringilla odio, sed placerat augue..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p> sit voluptatem accusantium doloremque laudantium, m, eaque ipsa quae 
      ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      <p class="mb-1">Sed ut perspiciatis unde omnis iste natus error  &copy; Moviefx, totam rem aperia!</p>
      <p class="mb-0">Explore our Website <a href="/">Visit the homepage</a> or read our <a href="#">Terms and Condition</a>.</p>
    </div>
  </footer>
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
